@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@100;300;500;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content{
    padding: 1rem;

}

.pokemons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemons li{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 2rem 1rem;
    background-color: #14a06f;
    color: #fff;
    border-radius: 1rem;
}

.pokemons li img{
    max-width: 100%;
    height: 100px;
    align-self: flex-end;
}

.content h1{
    margin: 0;
}